<div class="user-introduction">
    <h3><%= current_user.email %><span>さんのマイページ</span></h3>
  </div>
  <div class="media">
  <% @styles.each do |style| %>
    <div class="col-xs-6 col-md-3">
      <img class="img-thumbnail" src="<%= style.image %>" alt="">
      <a class="media-heading" href="/designers/<%= style.id %>"></br>
      <%= style.designer.designer %> / <%= style.designer.shop_name %></a>
    </div>
  <% end %>
</div>
