<div clss="designer-introduction clearfix">
    <!--ここからdesigner img-->
    <div class="designer-img">
      <img src="http://www.tarl.jp/wp-content/files_mf/16.jpeg" alt="" class="img-circle">
    </div>
    <!--ここまでdesiner img-->
    <div class="designer-profile">
    <!--ここからdesigner profile -->
      <h3><%= @designer %> / <%= @shop_name %></h3>
      <p>/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文t/est/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文t/est/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文</p>
    </div>
    <!--ここまでdesigner profile -->

    <div class="designer-sns">
    <!--ここからsns linkタグと紹介文-->
    <!--ここまでsns linkタグと紹介文-->
    </div>

  </div>
  <!-- clss designer-introduction ここまで -->



  <div class="row">
  <% @styles.each do |style| %>
    <div class="col-xs-6 col-md-3">
    <a href="/styles/<%= style.designer %>">
      <img src="<%= style.image %>">
      <h3 name="<%= style.designer %>">
     </a>
   </div>
  <%end%>

</div>

<a class="post" href="/designer/new">投稿</a>
<h2>testetstestestes</h2>
<%= paginate @styles %>


