<div clss="designer-introduction clearfix">
    <!--ここからdesigner img-->
    <div class="designer-img">
      <img src="http://www.tarl.jp/wp-content/files_mf/16.jpeg" alt="" class="img-circle">
    </div>
    <!--ここまでdesiner img-->
    <div class="designer-profile">
    <!--ここからdesigner profile -->
      <h3><%= @designer %> / <%= @shop_name %></h3>
      <a>
        <span class="label label-default">Instagram</span>
        <span class="label label-primary">FeceBook</span>
        <span class="label label-success">Blog</span>
        <span class="label label-info">Twitter</span>
      </a>
      <p>
      /test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文t/est/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文t/est/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文/test/PR文
      </p>
    </div>
    <!--ここまでdesigner profile -->
  </div>
  <!-- clss designer-introduction ここまで -->
  <div class="row">
  <% @designer.styles.each do |style| %>
    <div class="col-xs-6 col-md-3">
    <a href="/styles/<%= @designer.designer %>">
      <img src="<%= @designer.style %>" class="img-thumbnail">
      <h3 name="<%= @designer.style %>">
     </a>
   </div>
  <%end%>
  </div>
</div>
<!-- <a class="post" href="/designer/new">投稿</a> -->
<%= paginate @styles %>


