
<% @styles.each do |style| %>
  <div class="col-xs-6 col-md-3">
    <a href="/styles/<%= style.designer %>"></a>
    <img src="<%= style.image %>" class="img-thumbnail">
    <!-- <%= style.designer %> -->
    <!-- memo 17:41のメモが入る -->
    <%= render partial: "likes/like", locals: { style: style } %>
   </a>
 </div>
<%end%>

<%= paginate @styles %>
