<<<<<<< HEAD


<% @styles.each do |style| %>
    <div class="col-xs-6 col-md-3">
    <a href="/styles/<%= style.designer %>">
      <img src="<%= style.image %>" class="img-thumbnail">
      <h3 name="<%= style.designer %>">
     </a>
   </div>
  <%end%>

  <%= paginate @styles %>
=======
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
>>>>>>> 19344abf19d39144ea0cbb40a2c0134aeefac1e0
